*{padding:0;margin:0}

.componentDiv {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.menuDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 0;
  background-color: white;
}

.dateDiv {
  display: flex;
  justify-content: center;
  height: 50px;
}

.datePrev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 0;
  background-color: white;
}

.dateNext {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 0;
  background-color: white;
}

.currentDate {
  display: flex;
  justify-content: center;
  align-items: center;
  /*display: inline-block;*/
  /*width: 60%;*/
  /*height: 50px;*/
}

.periodMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.periodSelect {
  display: flex;
  justify-content: center;
  border: 0;
  background-color: white;
}
