*{padding:0;margin:0}

.componentDiv {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  flex: 0 0 36px;
}

.dateDiv {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.currentDateDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datePrev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  border: 0;
  background-color: white;
}

.dateNext {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  border: 0;
  background-color: white;
}

.currentDateTextDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customDateDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.periodMenu {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  width: 50px;
}

.periodSelect {
  display: flex;
  justify-content: center;
  border: 0;
  width: 50px;
  background-color: white;
  margin-right: 10px;
}
