
.dayMoney {
    width: 100%;
    height: 100%;
}

.dayMoneyTimeScroll {
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    overflow-y:scroll;
    border-radius: 2px;
}

.dayMoneyTimeScroll::-webkit-scrollbar {
    width: 4px;  /* 스크롤바의 너비 */
}

.dayMoneyTimeScroll::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #2fff2f; /* 스크롤바의 색상 */

    border-radius: 1em;
}

.dayMoneyTimeScroll::-webkit-scrollbar-track {
    background: #d0ffd0;  /*스크롤바 뒷 배경 색상*/
    border-radius: 1em;
}

/*@media (min-width: 1000px) {*/
/*    .dayMoneyTimeScroll {*/
/*        float: left;*/
/*        width: calc(100% - 500px);*/
/*        height: 100%;*/
/*        overflow:scroll;*/
/*        background-color: antiquewhite;*/
/*    }*/

/*    .dayMoneyTask {*/
/*        float: left;*/
/*        width: 500px;*/
/*        height: 100%;*/
/*        background-color: whitesmoke;*/
/*    }*/
/*}*/

/*@media (max-width: 1000px) {*/
/*    .dayMoneyTimeScroll {*/
/*        display: inline-block;*/
/*        float: left;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        overflow:scroll;*/
/*        background-color: antiquewhite;*/
/*    }*/

/*    .dayMoneyTask {*/
/*        display: none;*/
/*        float: left;*/
/*        width: 500px;*/
/*        height: 100%;*/
/*        background-color: whitesmoke;*/
/*    }*/
/*}*/


.dayMoneyTimeSide {
    position: relative;
    display: inline-block;
    float: left;
    width: 50px;
    height: 100%;
}

.dayMoneyTimeMain {
    position: relative;
    display: inline-block;
    float: left;
    width: calc(100% - 100px);
    height: 100%;
    background-color: antiquewhite;
}

.dayMoneyTimeSideText {
    position: absolute;
    text-align: right;
    right: 10px;
    width: 100%;
    font-size: 10px;
    color: gray;
    opacity:0.5;
}

.moneyTimeSideText {
    position: absolute;
    text-align: right;
    right: 10px;
    width: 100%;
    font-size: 14px;
}

.dayMoneyTimeMainSpan {
    position: absolute;
    border-top: 1px solid darkgray;
    left: 0;
    width: 100%;
    height: 0;
}

.moneyTaskDiv {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 1em;
    text-align: center;
    font-size: 16px;
    font-family: "malgun";

}

.dayMoneyTimeMainSpanDot {
    position: absolute;
    border-top: 1px dotted darkgray;
    left: 0;
    width: 100%;
    height: 0;
}

.monthMoney {
    width: 100%;
    height: 100%;
}

.monthMoneyCalendar {
    width: 100%;
    height: 100%;
}

.monthMoneyBlankDay {
    display: inline-block;
    width: 14.28571428571428%;
    height: 200px;
    background: black;
}

.monthMoneyDay {
    display: inline-block;
    width: 14.28571428571428%;
    height: 200px;
    background: lightgray;
}

.dateBoard div {
    color: #222;
    font-weight: bold;
    min-height: 6rem;
    padding: .6rem .8rem;
    border-radius: 5px;
    border: 1px solid #eee;
}

.dayMoneyTask {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dayMoneyTaskGroupDiv {

}

.dayMoneyTaskDateDiv {
    display: flex;
    width: calc(100% - 5px);
    font-size: 14px;
    align-items: center;
    /*background-color: #d0d0d0;*/
    border-bottom: 1px #d0d0d0;
    padding-left: 5px;
}

.dayMoneyTaskDayOfWeekDiv {
    display: flex;
    font-size: 10px;

    margin-left: 5px;

    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: white;
    background-color: #0f0f0f;
}

.dayMoneyTaskWithDetailDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dayMoneyTaskDiv {
    display: flex;
    width: 100%;
    height: 64px;
    /*border-bottom: 1px solid #d0d0d0;*/
    text-align: left;
    align-items: center;
}

.dayMoneyTaskMCDiv {
    display: flex;
    flex-basis: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0
}

.dayMoneyTaskRemoveDiv {
    display: flex;
    flex-basis: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    border: 0;
    background: none;
}

.dayMoneyTaskDetailDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 128px);
    font-size: 13px;
    flex-grow: 1;
    color: #2f2f2f;
    flex-shrink: 1
}

.dayMoneyTaskDetailCategoryDiv {
    font-size: 14px;
}

.dayMoneyTaskDetailTimeDiv {
    font-size: 10px;
    color: #808080;
}

.dayMoneyTaskMoneyDiv {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #0f0f0f;
    margin-right: 10px;
    align-items: flex-end;

    flex-shrink: 0
}

.overMoneyTextDiv {
    font-size: 10px;
}