.plannerContent {
    display: flex;
    width: 100%;
    height: calc(100% - 51px);
}

.menuDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 0;
    background-color: white;
}