.moneyPageDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    flex:1;
    border-radius: 1em 1em 4px 4px;
    border: 2px solid #d0ffd0;
    margin: 5px;
    height: calc(100% - 15px);
}

.moneyAddTaskBtn {
    position: absolute;
    right: 48px;
    bottom: 36px;
    background: none;
    border: 0;
    width: 48px;
    height: 48px;
}

/*.moneyTitleDiv {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-basis: 32px;*/
/*    color: #4f4f4f;*/
/*    font-size: 32px;*/
/*    border-bottom: 2px solid #d0ffd0;*/
/*}*/

.moneySumDiv {
    display: flex;
    flex-basis: 32px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.viewTypeDiv {
    display: flex;
    flex: 0 0 30px;
}

.viewTypeTextDiv {
    display: flex;
    flex: 1;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.filterTypeDiv {
    display: flex;
    flex: 0 0 32px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3px;
}


.filterTypeContentDiv {
    display: flex;
    flex-direction: column;
}

.filterTypeBtnDiv {
    font-size: 13px;
    border-radius: 4em;
    flex-basis: 20px;
    border: 1px solid #d0d0d0;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
}

.filterTypePlusTextDiv {
    font-size: 13px;
    border: 0;
    color: #00ff00;
}

.filterTypeTextDiv {
    font-size: 13px;
    border: 0;
}



.daySchedule {
    width: 100%;
    height: 100%;
}

.addDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 1em 1em 4px 4px;
}

.moneyComponentDiv {
    width: 100%;
    height: calc(100% - 112px);
}

.plusMoneyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #00ff00;
}

.minusMoneyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #2f2f2f;
}

.minusMoneyDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #2f2f2f;
}