* {
  margin: 0;
  padding: 0;
  font-family: "malgunbd";
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.defaultReactDiv {
  height: 100%;
}

@font-face {
  font-family: "malgunbd";
  src: url(./assets/fonts/malgunbd.ttf);
}

@font-face {
  font-family: "malgun";
  src: url(./assets/fonts/malgun.ttf);
}
